@charset "UTF-8";

#bennerimage {
	z-index: 2;
	opacity: 0.5;
}

#bennercolor {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	height: 300px;
	width: 100%;
	top: 179px;
	z-index: 1;
	text-align: center;
	font-size: 40px;
	font-weight: bolder;
	color: white;
	line-height: 300px;
}

#containerbody {
	text-align: center;
}

#sidemenu {
	color: black;
	text-align: left;
	float: left;
	padding-left: 50px;
	list-style: none;
	width: 15%;
	margin-top: 85.2px;
}

#sidemenu a {
	padding-left: 15px;
	display: inline-block;
	width: 100%;
}

#sidemenu li {
	width: 100%;
	margin-bottom: 2px;
	cursor: pointer;
	background-color: #ccc;
	height: 50px;
	line-height: 50px;
}
#sidemenu>li:nth-child(1), #sidemenu>li:nth-child(1)>a {
	background-color: #636363;
	color: white;
	height: 50px;
	line-height: 50px;
}

#sidemenu>li:nth-child(2), #sidemenu>li:nth-child(3), #sidemenu>li:nth-child(4) {
	background-color: #ccc;
	height: 50px;
	line-height: 50px;
}

#maintext {
	display: inline-block;
	width: 75%;
	margin: 0;
	padding: 0;
	background-color: white;
	text-align: center;
}


#monthTitle{
	 color: #757575;
	 font-size: 30px;
	 margin-left: 50px;
	 margin-right: 50px;
}


/* 테이블 CSS */
#divtable {
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 300px;
}

table {
	width: 100%;
	max-width: 85%;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 50px;
	border: 5px solid #dddddd;
	border-collapse: collapse;
	background-color: transparent;
}

thead td{
	text-align: center;
	background-color: #eeeeee;
	height: 70px;
}



td {
	padding-right: 15px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 12px;
    line-height: 1.5;
    text-align: left;
    border: 5px solid #ddd;
    height: 70px;
}




.tdtoday{

	background-color: #ccc;
	
}

.sptoday{
	font-weight: bolder;
	color : green;
	margin-bottom: 8px;
}



.pass{
	background-color: #757575;
}


.day{
	font-weight:bolder;
	color: #fb6b00;
	margin-bottom: 8px;
}

.saturday{
	font-weight:bolder;
	color: blue;
	margin-bottom: 8px;
}

.sunday{
	font-weight:bolder;
	color: red;
	margin-bottom: 8px;
}













.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 15px;
	font-weight: normal;
	line-height: 2;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-color: #717b71;
	border: 1px solid #717b71;
	border-radius: 4px;
	color: white;
}







.btncalendar:hover{
	color: white;
	background-color: #2b2926;
	border-color: #2b2926;
}




















}
