@charset "UTF-8";

#topmenubody {
	background-color: #F3F3F3;
}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;
}

a:active {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: white;
}

#imgLogo {
	width: 100%;
	height: 100%;
}

#divlogin {
	height: 50px;
	text-align: right;
	background-color: #E1E1E1;
}

#navMenu {
	display: flex;
	width: 100%;
	top: 0px;
	height: 100%;
}

#divLogo {
	width: 300px;
}

#navMenu>ul>li {
	list-style-type: none;
}

#mainMenu {
	list-style: none;
	flex: 3;
	text-align: center;
}

#mainMenu>li {
	display: inline-block;
	width: 150px;
	line-height: 120px;
}